.scrollspy{
  position: relative;
  max-height: 100vh;
  overflow: scroll;
}

.flex-fill{
  flex: 1 1 auto;
}

.min-100{
  min-height: 100vh;
}

#sidebar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10vh;
  text-align: center;
  background-color: blanchedalmond;
  width: 25vh;
  height: 100vh;
  position: fixed;
}

#main-view{
    margin: auto;
    font-family: sans-serif;
    text-align: center;
    position: relative;
    overflow-y: scroll;
    height: 100vh;
}

.section{
  min-height: 100vh;
}