ul{
  list-style-type: none;
}

li, i{
  margin: 1vh 1vh;
  text-align: left;
}

.nav-color{
  background-color: rgb(165, 29, 42);
}

.nav a{
  color: rgb(255, 216, 100);
  background-color: transparent;
}

.nav a:hover{
  color: rgb(255, 244, 210);
}

.scrollspy{
  position: relative;
  max-height: 100vh;
  overflow: scroll;
}

.min-100{
  min-height: 100vh;
}

#sidebar{
  gap: 5vh;
  width: 48vh;
  height: 100vh;
}

#main-view{
    font-family: sans-serif;
    text-align: center;
    position: relative;
    overflow-y: scroll;
    max-width: fit-content;
    height: 100vh;
    background-color: #fff;
}

.section{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid;
  border-bottom-color: black;
}

.section-title{
  margin-top: 20vh;
  margin-left: 4vh;
  font-size: 10vh;
  text-align: left;
}

.section-body{
  margin: 2vh 5vh;
  text-align: left;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  display: flex;
  flex-direction: column;
}
.contact-link{
  margin: 0vh 1vh;
}

.image-list-item{
  width: 16vh !important;
  margin: 0vh 0vh;
  text-align: center;
  padding: 0vh 1vh;
}

.labeled-icon-list-item{
  margin: 1vh vh;
  padding: 0 1vh;
  font-size: large;
}

.date-list-item{
  text-align: left;
  display: flex;
  flex-direction: row;
  gap: 5vh;
  margin: 3vh 1vh;
}